<!DOCTYPE html>
<html lang="en">

    <%- include('./partialViews/head.ejs') %>

<body>
    
    <%- include('./partialViews/header.ejs') %>

    <main class="main-home">

        <h1 class="texto-centrado">Lista de productos</h1>

            <section class="productsList">
                <% productList.forEach(product=> { %>
                    <article class="productList-item">
                        <a href="/productos/<%= product.id%>"><img src="/images/Productos/<%= product.imagen_producto%>" alt="<%= product.nombre_producto%>"></a>
                        <p class="productList-item-nombre"><%= product.nombre_producto%></p>
                        <p class="productList-item-precio">$ <%= product.precio_producto%></p>
                        <a href="/productos/<%= product.id%>" class="productList-item-link-comprar">Comprar </a>
                    </article>
                <% })%>
                
               
            </section>

    </main>

    <%- include('./partialViews/footer.ejs') %>
</body>
</html>